.search-container {
  font-size: 19px;
  width: 200px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.post-container {
  background-color: rgb(137, 211, 240);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.post-container button,
.search-container button {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
  padding: 3px 10px;
  border: 1px solid;
}

.post-container button:hover {
  background-color: rgb(0, 248, 248);
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
